In [ ]:
#Vamos a por mi primer codigo de SQL