## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [23]:
import random

In [1]:
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison', 'Alexander', 'Logan'])
print(girl_names)
print(boy_names)

{'Joanna', 'Logan', 'Madison', 'Mary'}
{'Logan', 'Alexander', 'John', 'Madison'}

In [4]:
# Sets intersection
unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

{'Logan', 'Madison'}

In [3]:
# Sets union
all_names = boy_names.union(girl_names)
print(all_names)

{'Joanna', 'Alexander', 'Logan', 'Madison', 'Mary', 'John'}

In [5]:
# Sets filtering
boy_only_names = boy_names - girl_names
print(boy_only_names)

{'Alexander', 'John'}

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [96]:
# Your code here

sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[27, 51, 34, 46, 17, 14, 66, 53, 62, 78, 73, 19, 8, 12, 56, 5, 69, 60, 86, 7, 13, 44, 0, 98, 63, 20, 47, 91, 48, 85, 79, 9, 64, 59, 80, 28, 87, 32, 72, 77, 25, 50, 92, 76, 11, 67, 52, 16, 36, 71, 40, 21, 35, 68, 29, 1, 95, 2, 31, 23, 96, 90, 10, 81, 24, 41, 54, 97, 99, 30, 38, 58, 18, 4, 83, 94, 70, 74, 42, 22]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [97]:
# Your code here
sample_list_1 = set(sample_list_1)

print(len(sample_list_1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [34]:
# Your code here
from random import randint 
sample_list_2 = []
for i in range(80):
    sample_list_2.append(randint(1,100))
print(sample_list_2)
print(len(sample_list_2))

[79, 2, 37, 87, 10, 51, 30, 46, 82, 75, 41, 56, 22, 16, 99, 68, 50, 18, 67, 24, 41, 4, 43, 93, 50, 90, 6, 76, 20, 39, 92, 84, 8, 93, 90, 25, 64, 40, 21, 4, 16, 32, 54, 84, 56, 97, 68, 68, 53, 92, 36, 3, 21, 72, 45, 56, 52, 22, 75, 45, 1, 22, 2, 13, 66, 91, 53, 30, 23, 32, 55, 41, 61, 80, 80, 82, 67, 17, 64, 5]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [35]:
# Your code here
sample_list_2 = set(sample_list_2)

print(len(sample_list_2))

#La lista no tiene el mismo tama√±o

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [36]:
# Your code here
sample_list_3 = sample_list_1 - sample_list_2
print(sample_list_3)

{0, 7, 9, 11, 12, 14, 15, 19, 26, 27, 28, 29, 31, 33, 34, 35, 38, 42, 47, 48, 49, 57, 62, 63, 69, 70, 71, 73, 77, 78, 81, 83, 85, 86, 88, 89, 94, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [37]:
# Your code here
sample_list_4 = sample_list_2 - sample_list_1
print(sample_list_4)

{2, 67, 36, 37, 8, 41, 75, 13, 79, 22, 56, 25, 91, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [38]:
# Your code here
sample_list_5 = sample_list_1.intersection(sample_list_2)
print(sample_list_5)

{1, 3, 4, 5, 6, 10, 16, 17, 18, 20, 21, 23, 24, 30, 32, 39, 40, 43, 45, 46, 50, 51, 52, 53, 54, 55, 61, 64, 66, 68, 72, 76, 80, 82, 84, 87, 90, 93, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [64]:
# Your code here
sample_list_6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [67]:
# Your code here
sample_list_6.update(sample_list_3,sample_list_5)
print(sample_list_6)

{0, 1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [74]:
# Your code here
if sample_list_6 - sample_list_1 == 0:
    print (sample_list_6)
else: 
    print("No")

No

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [77]:
# Your code here
sample_list_1.issubset(sample_list_2)

False

In [78]:
sample_list_1.issubset(sample_list_3)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [83]:
# Your code here
all_list = sample_list_3.union(sample_list_4,sample_list_5)
print(all_list)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [84]:
all_list2 = sample_list_1.union(sample_list_2)
print(all_list2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [86]:
all_list == all_list2

True

#### Using the `pop` method, remove the first element from `set1`.

In [99]:
# Your code here
sample_list_1.pop()
print(sample_list_1)
print(len(sample_list_1))
#He usado este metodo 2 veces, por eso tiene 2 elementos menos que el original que tenia 80

{2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 38, 40, 41, 42, 44, 46, 47, 48, 50, 51, 52, 53, 54, 56, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 90, 91, 92, 94, 95, 96, 97, 98, 99}
78

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [101]:
# Your code here
list_to_remove = set ([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
list_final = sample_list_1 - list_to_remove
print(list_final)

{2, 4, 5, 7, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 46, 47, 48, 50, 52, 53, 54, 56, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 83, 85, 86, 87, 90, 92, 94, 95, 96, 97, 98}